%%-*- mode: erlang -*-
%% ex: ft=erlang ts=4 sw=4

{services, [
        [
            {name, 'nullsvc'},
            {mod, 'sc_push_svc_null'},
            {description, "Null Push Service"},
            {sessions, [
                    [
                        {name, 'nullsvc-com.silentcircle.SCPushSUITETest--DEV'},
                        {mod, sc_push_svc_null_srv},
                        {config, []}
                    ]
                ]}
        ]
    ]
}.

{registration, [
        {service, nullsvc},
        {token, <<"null-token">>},
        {device_id, <<"test-device-id">>},
        {tag, <<"sc_push_SUITE@test">>},
        {app_id, <<"com.silentcircle.SCPushSUITETest">>},
        {dist, <<"dev">>}
    ]
}.

%% Templating supports use of properties supplied by ct such as data_dir,
%% priv_dir, and so on.
{wm_config, [
    {ip, "0.0.0.0"},
    {port, 8000},
    {dispatch, "{{data_dir}}/dispatch.conf"}
]}.

